/* BODY */
body {
    background-color: darkblue;
}

/* TITRE */
h1 {
    font-family: monospace, 'Courier New', Courier;
    color: cornsilk;
    margin: 3% auto;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 5% auto;
}

section {
    border: 1px solid white;
    margin: 1%;
    padding: 1%;
}

p {
    color: white;
}

/* CONTAINER CREE DANS UNE DIV */
#tableauDeJeu {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 15px;
    margin: auto;
}

/* CLASSE DES ELEMENTS PARENT CREE */
.carte {
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
}

/* CLASSE DES ELEMENTS ENFANT CREE (CARTES) */
.carte .imageCarte {
    opacity: 0;
}

.carte .imageCarte {
    max-width: 100%;
}

.carte.flip .imageCarte {
    opacity: 1;
}

/* CLASSE DES ELEMENTS PAIRES TROUVEES */
.carte.matched {
    border: solid 4px rgb(0, 255, 0);
    box-sizing: border-box;
    cursor: default;
}

/* STYLE POUR ANIMATION */
.carte.flip {
    transform: rotateY(180deg);
}

.card .card.imageCarte {
    transition: all 0.3s;
}

.carte {
    transform: rotateY(0deg);
    transition: all 0.5s;
}