/* CONTAINER */
body {
    background-color: darkblue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
}

/* BOUTON MENU */
header {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    margin-top: 20%;
}

.btn_back {
    background-color: white;
    font-weight: bold;
    color: darkblue;
    width: 6em;
    height: 6em;
    border-radius: 3em;
    border: 1px solid black;
}

.btn_back:hover {
    background-color: black;
    color: red;
    border: 1px solid red;
}

.btn_back:active {
    border: none;
}


/* AFFICHAGE */
.affichageChiffres {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 5%;
    margin: 50% 20% 1% 20%;
    border: 1px solid black;
    background-color: azure;
}

p {
    text-align: center;
    font-family: monospace;
    font-weight: bold;
}

/* BOUTONS CHIFFRES */
main {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 5%;
    margin: 5% 15% 5% 15%;
    border: 1px solid black;
    border-radius: 20%;
    background-color: azure;
}

main div {
    display: flex;
    justify-content: space-evenly;
}

.bouton_0 {
    display: flex;
    justify-content: center;
}

/* BOUTON OPERATEURS */
section {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 50%;
    padding: 1%;
    margin: auto 1% auto 1%;
}

.operateur {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: azure;
    width: max-content;
    margin: 1%;
    padding: 5%;
    align-items: center;
}

section button {
    font-family: monospace;
    font-size: xx-large;
    font-weight: bold;
    padding: 3%;
    margin: 20%;
    width: 2em;
    border: 1px solid;
    border-radius: 20%;
    background-color: bisque;
}

/* BOUTON ANIMATION */
button:not(button.btn_back, section button) {
    font-family: monospace;
    font-size: xx-large;
    font-weight: bold;
    padding: 3%;
    margin: 2%;
    width: 20%;
    border: 1px solid;
    border-radius: 20%;
    background-color: bisque;
}

button:hover:not(button.btn_back) {
    background-color: aliceblue;
}

button:active:not(button.btn_back) {
    background-color: #f0f8ff75;
    border: 1px solid rgb(255, 255, 255);
}