/* HEADER */
/* BOUTON RETOUR */
.divRetourMenu {
    place-self: flex-start;
}

.BoutonRetour {
    background-color: rgb(0, 200, 255);
    color: white;
    width: 6em;
    height: 6em;
    border: 2px solid black;
    border-radius: 3em;
    transition: rotate 2s;
}

.BoutonRetour:hover {
    background-color: black;
    border: 2px solid red;
    color: red;
    rotate: 360deg;
}

/* MAIN */
body {
    background-color: darkblue
}

h3 {
    margin: 10%;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    color: darkblue
}

p {
    font-size: 1em;
    font-family: Impact;
    letter-spacing: 2%;
    margin: 0%;
    color: darkblue
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

fieldset {
    color: black;
    padding: 5%;
    width: 20em;
    border: 4px solid cyan;
    border-radius: 5%;
    background-color: rgb(0, 200, 255)
}

div {
    margin: 4%;
    padding: 1%;
    display: flex;
    justify-content: center;
}

.divValider,
.divParagraphe,
.divNom,
.divAge,
.divRetour {
    opacity: 0;
    margin: -5%;
}

label {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkblue;
    margin-right: 1em;
}

.email {
    margin-right: 25%;
}

.nom {
    margin-right: 20%;
}

.age {
    margin-right: 29%;
}

input {
    font-family: monospace;
    font-weight: bolder;
    color: darkblue;
    background-color: white;
    border: 1px solid black;
    height: 2em;
}

/* BUTTON */
#connexion {
    margin-top: 9%;
}

button {
    background-color: white;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 40%;
    width: 40%;
}

button:hover {
    background-color: cyan;
}

button:active {
    background-color: white;
    border: 1px solid white;
}

/* ANIMATION JS */
.aff {
    opacity: 1;
    margin: 5%;
    transition-duration: 1s;
}

.disp {
    opacity: 0;
    margin: -5%;
    transition-duration: 1s;
}