/* CONTAINER */
/* BODY */
body {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 9em);
    transition-duration: 1s;
}

/* VIDEO BACKGROUND */
video {
    z-index: 1;
    grid-column: 1/6;
    grid-row: 1/7;
    width: 1783px;
    height: 1118px;
}

/* HEADER */
header {
    z-index: 2;
    grid-column: 2/5;
    grid-row: 1;
}

/* BOUTON RETOUR */
.div_retour {
    text-align: center;
    margin: 10% 1% 1% 1%;
}

.bouton_menu {
    background-color: white;
    font-weight: bold;
    color: darkblue;
    width: 6em;
    height: 6em;
    border-radius: 3em;
    border: 1px solid black;
    transition: rotate, 1s;
}

.bouton_menu:hover {
    background-color: black;
    color: red;
    border: 1px solid red;
    rotate: 360deg;
}

.bouton_menu:active {
    border: none;
}

/* MAIN */
main {
    z-index: 2;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    place-self: center;
    background-color: #f0f8ff;
    grid-column: 2/5;
    grid-row: 3/7;
    border: 2px solid rgb(0, 0, 81);
    border-radius: 50%;
    height: 110%;
    width: 65%;
    transition-duration: 1s;
}

/* DIV AFFICHAGE */
.div_affichage {
    background-color: #ffffff;
    border: 1px solid black;
    margin: 10% 1% 1% 35%;
    height: 35%;
    width: 30%;
    place-content: center;
    text-align: center;
    font-size: xxx-large;
    color: #0000ff;
}

main button {
    background-color: white;
    border: 1px solid gray;
    border-radius: 25%;
    height: 3em;
    width: 6%;
}

main button:hover {
    background-color: whitesmoke;
}

main button:active {
    border: white;
}

button img {
    width: 100%;
}

/* DIV INDICATION */
.div_indication {
    text-align: center;
    margin: 5% auto;
    letter-spacing: 1%;
}

.localisation {
    font-size: medium;
    margin-left: 1%;
    transition-duration: 1s;
}

.div_recherche {
    margin-top: 2%;
}

/* DIV REGLAGES */
.div_reglages {
    margin: 1% 20% 1% 20%;
    height: 25%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    text-align: center;
}

#rangeIntensiter, #choix_couleurs {
    transition-duration: 1s;
    border: 1px solid black;
}

/* ANIMATION JS */
/* DARKMODE */
.darkBody {
    transition-duration: 1s;
    background-color: black;
}

.darkMain {
    transition-duration: 1s;
    background-color: black;
    border: 2px solid blue;
    color: white;
}

.darkInput {
    transition-duration: 1s;
    border: 1px solid white;
    background-color: transparent;
}