/* CONTAINER */
body {
    background-color: darkblue;
    display: flex;
    justify-content: center;
}

/* MAIN */
h4 {
    font-family: monospace;
    font-size: xx-large;
    color: white;
}

main {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    margin: 20%;
    border: 2px solid white;
    border-radius: 5%;
    width: 15%;
}

select {
    margin: 5%;
    width: 50%;
    font-size: 1em;
}

div {
    margin: 10%;
}

button {
    background-color: white;
    height: 6em;
    width: 6em;
    border: 2px solid darkblue;
    border-radius: 3em;
    font-weight: bolder;
    transition: rotate, 1s;
}

button:hover {
    background-color: black;
    border: 2px solid red;
    color: red;
    rotate: 360deg;
}